<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".msi" />
            <mimeMap fileExtension=".msi" mimeType="application/x-ole-storage" />
            <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
        </staticContent>
    </system.webServer>
</configuration>